<div class="row flexin">
  <div class="titlemove col-md-6">
    <h2 class="title">Login</h2>

    <form class="form login-form">
      <div class="field form-group">
        <label for="email-login" class="label">Email:</label>
        <div class="control">
          <input class="input form-input" type="text" id="email-login" />
        </div>
      </div>

      <div class="field form-group">
        <label for="password-login" class="label">Password:</label>
        <div class="control">
          <input class="input form-input" type="password" id="password-login" />
        </div>
      </div>

      <div class="form-group">
        <button
          class="btn btn-primary button is-success"
          type="submit"
        >login</button>
      </div>

    </form>

  </div>
  <div class="titlemove col-md-6">
    <h2 class="title">Signup</h2>

    <form class="form signup-form">
      <div class="field form-group">
        <label for="name-signup" class="label">Name:</label>
        <div class="control">
          <input class="input form-input" type="text" id="name-signup" />
        </div>
      </div>
      <div class="field form-group">
        <label for="email-signup" class="label">Email:</label>
        <div class="control">
          <input class="input form-input" type="text" id="email-signup" />
        </div>
      </div>
      <div class="field form-group">
        <label for="password-signup" class="label">Password:</label>
        <div class="control">
          <input
            class="input form-input"
            type="password"
            id="password-signup"
          />
        </div>
      </div>

      {{!  }}
      <div class="field form-group">
        <label for="github-signup" class="label">Github username:</label>
        <div class="control">
          <input class="input form-input" type="text" id="github-signup" />
        </div>
      </div>
      {{!  }}

      <div class="form-group">
        <button
          class="btn btn-primary button is-success"
          type="submit"
        >signup</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>