<div class="container">
  <div class="title titlemove">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<!-- Above is where we will put the linking for github feature Jason created-->

<div class="cardFlex">
  <!-- this might change-->
  <div class="card">

    <h3 class="card-header card-header-title">Create a New Project:</h3>

    <form class="form card-content new-project-form">

      <div class="field">
        <label class="label" for="project-name">Project Name</label>
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="Project Name"
            id="project-name"
            name="project-name"
          />
        </div>
      </div>

      <div class="field">
        <label class="label" for="project-role">Role Needed</label>
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="Roles Needed"
            id="project-role"
            name="project-role"
          />
        </div>
      </div>

      <div class="field">
        <label class="label" for="project-desc">Project Description:</label>
        <div class="control">
          <textarea
            class="textarea"
            id="project-desc"
            name="project-desc"
            placeholder="Write your project description here..."
          ></textarea>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="button is-success">Create</button>
      </div>

    </form>
  </div>

  {{#if projects.length}}
    <div class="card">
      <h3 class="card-header card-header-title currentID">Current Projects:</h3>

      {{#each projects as |project|}}
        <div class="card-content">

          <div class="col-md-8">
            <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
          </div>

          <div class="col-md-4">
            <button
              class="button is-danger"
              data-id="{{project.id}}"
            >Delete</button>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>